@model CplexConnect.Models.TimeRange

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Time Range</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Periods)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periods)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
