@model CplexConnect.Models.Section

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sections</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Course, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Course, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SectionNumbers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SectionNumbers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SectionNumbers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SemesterDropDown", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsOnline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsOnline)
                    @Html.ValidationMessageFor(model => model.IsOnline, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomReq, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoomReqDropDown", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomReq, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SectionCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SectionCapacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SectionCapacity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentDropDown", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeRange, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>
                    <input type="checkbox" name="TimeRanges" value="1" />
                    @Html.Label("Grad MW/TR, 75 min, 8 AM - 3:30 PM")
                </div>
                <div>
                    <input type="checkbox" name="TimeRanges" value="2" />
                    @Html.Label("Under Grad MW, 75 min, 2 PM - 3:30 PM")
                </div>
                <div>
                    <input type="checkbox" name="TimeRanges" value="3" />
                    @Html.Label("MWF Early, 50 min, 8 AM - 1 PM")
                </div>
                <div>
                    <input type="checkbox" name="TimeRanges" value="4" />
                    @Html.Label("Late, 75 min, 5- 6:30")
                </div>
                <div>
                    <input type="checkbox" name="TimeRanges" value="5" />
                    @Html.Label("Under Grad TR, 75 min, 8 AM - 3:30 PM")
                </div>
                <div>
                    <input type="checkbox" name="TimeRanges" value="6" />
                    @Html.Label("All")
                </div>
                @Html.ValidationMessageFor(model => model.TimeRange, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
