@model IEnumerable<CplexConnect.Models.OverlapGroups>

@{
    ViewBag.Title = "Index";
}

<h2>Overlap Groups</h2>
<h6>Groups of sections that are taken in the same room at the same time.</h6>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OverlapGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sections)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OverlapGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sections)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
